
.container{
    margin: 0 auto;
}

/* banner styles start */

.banner-box{
    width: 100%;
    height: 650px;
    background-image: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),url(../images/Banner\ Image.png);
    background-repeat:no-repeat;
    background-size: cover;
    border: 2px solid red;
    margin: 16px auto;
}
.banner-content{
   margin-top: 220px;
  

}
.banner-title{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 32px;
    margin: 0px;
}
.banner-des{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 72px;
    margin: 0px;
    margin-top: 16px;
}
/* banner styles end */
/* Discount styles start */
.discount{
    width: 800px;
    border: 2px solid red;
    margin: 120px auto;
    text-align: center;
}
.discount img{
    
}
.discount h1{
    font-size: 88px;
    font-weight: 700;
    color: rgb(255, 0, 0);
    margin-top: 0px;
    margin-bottom: 48px;
}
.discount p{
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin-top: 0px;
    margin-bottom: 0px;
}
.discount h3{
    font-size: 48px;
    font-weight: 700;
    color: rgb(7, 2, 17);
    margin-top: 16px;
}


.running-year{
    background-image:linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;
    width: 100%;
    height: 650px;
    border-radius: 16px;
}
.running-year-box{
    display: flex;
    justify-content: space-around;
}
.running-year-img{
    width: 349.16px;
    height: 464.65px;
    margin-top: 68px;
}
.running-year-content{
    margin-top: 126px   ;
}
.running-year-content h1{
    width: 642px;
    height: 176px;
    font-size: 64px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
}
.running-year-content p{
    font-size: 18px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0px;
    margin-bottom: 40px;
}
.join-now{
    margin-left: 20px;
    
}
/* Discount styles end*/
/* Venue styles start */
.venue{
    width: 100%;
    height: 482px;
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    align-content: center;
    
}
.venue-content{
    width: 550px;
    height: 272px;
    align-content: center;
    margin: 0px auto;
}
.venue-content p{
    font-size: 32px;
    font-weight: 700;
    color: rgba(7, 2, 17, 1.00);
    text-align: center;
    margin: 20px;
}
.span{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}
.btn-prymary{
    width: 167px;
    height: 56px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    margin-left: 191px;
}
/* Venue styles end */

/* Best offer styles start */
.new-best-offer{
    width: 100%;
    height: 463px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.offer-content{
    width: 393px;
    height: 128px;
    
}
.offer-img{
    width: 463px;
    height: 463px;
    border-radius: 50%;
    border: 15px solid rgb(255, 0, 0)
    
}
.offer-img img{
    width: 364.84px;
    height: 364.84px;
    margin: 49.08px;
    
    
}
.last-content{
    width: 276px;
    height: 170px;
    
}

.offer-content h4{
    color: rgb(7, 2, 17);
    font-size: 48px;
    margin: 0px;
}
.new-best-offer-title{
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 22px;
    font-size: 20px;
}
.new-best-offer-content{
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 0, 0);
    margin-bottom: 16px;

}

.last-content h1{
    color: rgb(255, 0, 0);
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.last-content p{
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 22px;
    font-size: 20px;
    margin: 0;
}

.last-content-box{
    margin-top: 250px;
    padding-left: 160px;
}

/* Best offer styles end */

.holidays-sec{
    width: 100%;
    height: 986px;
    border: 2px solid red;
    position: relative;
}
.holidays-img{
    width: 100%;
    margin-top: 725px;
    
}
.holidays-img2{
    position: absolute;
    top: 320px;

}
.holidays-img3{
    position: absolute;
    bottom: 290px;
    right: 30px;
}
.holidays-title{
    font-size: 24px;
    font-weight: 600;
    color: rgb(16, 16, 16);
    margin: 0px;
    position: absolute;
}
.holidays-sec h1{
    font-size: 72px;
    margin: 0px;
    position: absolute;
    top: 50px;
    text-align: center;
}
.holidays{
    color: rgb(255, 0, 0);
    margin: 0px;
    
}
.holidays-des{
    margin: 0px;
    position: absolute;
    top: 120px;
    text-align: center;
}

